*{
    box-sizing: border-box;  
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: uber-bold;
    src:url('src/fonts/UberMoveBold.otf');
}

@font-face{
    font-family: allerta;
    src:url('src/fonts/AllertaStencil-Regular.ttf');
}

@font-face{
    font-family: kaushan;
    src:url('src/fonts/KaushanScript-Regular.otf');
}

body{
    font-family: uber-bold;
    margin: 0;
}

h1{ font-size:3em; }
span{color: rgba(217, 148, 66);}
h2{ font-size: 5em; }
h3{ font-size:2em; }
p{ font-size:1.25em;}
/*---------------------------------------------------------------------*/
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
    color: white;
    background-color: rgba(250, 157, 38);
}

#btnServices{
    width:20vw;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
    color: rgb(54,54,54);
    background-color: rgb(249,156,37);
}

#btnServices:hover{
    background-color:rgb(175, 123, 18);
}

.container{
    max-width: 100%;
    margin: auto;
}
/*---------------------------------------------------------------------*/
header{
    background-color: rgb(245,245,245);
    box-shadow: 2px 5px 20px rgba(0,0,0,0.3);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .img-container{
    background-image: url('src/imgs/guest-house-logo.png');
    background-size: cover;
    height: 120px;
    width:120px;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
}

header a{
    padding: 10px;
    text-decoration:none;
    color:rgba(54,54,54);
}

header a:hover{
    color: rgb(201, 130, 38);
}
/*---------------------------------------------------------------------*/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height:100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(src/imgs/Puerto-Madero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

#hero h1{
    color:rgb(223, 223, 223);
    font-size: 50px;
    margin:0px;
}
#hero p{
    color:rgb(223, 223, 223);
    font-size: 20px;
    margin:0px;
}

/*---------------------------------------------------------------------*/
#some__services .container{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#some__services h2{
    font-size: 2em;
    color: rgba(54,54,54);
}

#some__services p{
    font-size: 1.5em;
    color: rgb(54,54,54);
}

.services__items{
    flex-direction: column;
    padding: 20px;
}
.service__1{
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 10px;
}
.service__2{
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 10px;
}
.service__3{
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 10px;
}
/*---------------------------------------------------------------------*/
.deptos{
    display: flex;
}

.deptos h2{
    text-align: center;
    font-size: 3vw;
    color: rgba(245,245,245);
}

.deptos .container {
    background-color: rgb(241,179,84);
    text-align: center;
}

.deptos .deptos__item{
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item__title{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: rgba(245,245,245);
    top: 0;
    left: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: .5s ease-in-out;
    border-radius: 15px;
}

.deptos__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius:15px ;
}

.deptos__item:hover .item__title{
    transform: translateX(0%);
}

.deptos h2{
    font-size: 2em;
}


/*#nuestros-deptos .container{
    text-align: center;
    background-color: rgb(241,179,84);
    padding: 50px;
}

#nuestros-deptos .card{
    color: rgba(245,245,245);
    text-align: center;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
    padding: 30px;
    margin: 15px;
}

#nuestros-deptos h2{
    color: rgba(230,230,230);
    font-size: 4.5vw;
    margin-bottom: 0;
}

#nuestros-deptos .card{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}

.card:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(src/imgs/villa-urquiza.png);
}

.card:nth-child(2){
    
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(src/imgs/palermo-hollywood.png);
} 

.card:nth-child(3){
    
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url(src/imgs/belgrano-r.png);
}*/ 
/*---------------------------------------------------------------------*/

#services .container{
    text-align: center;
    padding: 20px;
}

#services h2{
    color: rgb(54,54,54);
    font-size: 5vw;
}

#services h3{
    color: rgb(249, 157, 38);
    font-size: 3vw;
}

#services button{
    width: 200px;
}
/*---------------------------------------------------------------------*/
#our-clients{
    text-align: center;
}

#our-clients .container{
    background-color: rgb(241,179,84);
}

#our-clients .clientcards{
    justify-content: center;
    color: rgba(54,54,54);
    text-align: center;
    padding: 30px;
}

#our-clients .client{
    background-color: rgb(245,245,245);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    padding: 30px;
    margin: 10px;
    flex-direction: column;
}

#our-clients p{
    width: 80vw;
}

#our-clients h2{
    color: rgb(245,245,245);
    margin:0;
    font-size: 5vw;
    /*put the h2 down*/
    margin-bottom: -30px;
}

#our-clients h4{
    font-size:20px;
    margin: 0;
}

#stars{
    width:100px;
}

/*---------------------------------------------------------------------*/
/*footer{
    background-color: rgb(54,54,54);
    color: rgb(245,245,245);
}

footer .container{
    height:150px;
    text-align: center;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p{
    margin:0;
}*/
